:root {
    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --accent1-color: #001219;
    --accent2-color: #94d2bd;

    --heading-font: Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    margin-top: 20px;
}

header img {
    width: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;

    background-color: rgba(255, 255, 255, 0.8);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
    border: 2px solid #555;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    padding: 20px 0;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 35px;
}